// WPForms
:root {
  --wpforms-field-border-radius: 12px;

  --wpforms-button-border-radius: 99rem;
  --wpforms-button-text-color: var(--wp--preset--color--dark);
  --wpforms-button-background-color: var(--wp--preset--color--secondary);
}