@import '../../../src/scss/bare-bs-necessities'; // required in order to use our other variables, mixins, etc.

.block--double-slider-wrapper{
	position: relative;

	.swiper {
		.slides {
			background-color: $white;
			border-radius: 10px;
			box-shadow: 0px 3px 15px 0px rgba($black, 0.10);
		}

		
	}

	.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 50%;
			height: 80px;
			width: 80px; 
			transform: translateY(-50%);
			background-color: transparent;
			border-radius: 50%;
			transition: background-color 0.3s ease;
			z-index: 10;

			svg {
				width: 40px; 
				height: 40px; 
			}

			@include media-breakpoint-down(md) {
				top: auto;
				bottom: 1.75rem;
				transform: none;
			}
		}

		.swiper-button-prev {
			left: -80px;

			@include media-breakpoint-down(lg) {
				left: -4rem;
			}

			@include media-breakpoint-down(md) {
				left: 2rem;
			}
		}

		.swiper-button-next {
			right: -65px;

			@include media-breakpoint-down(lg) {
				right: -3rem;
			}

			@include media-breakpoint-down(md) {
				right: 2rem;
			}
		}

	.swiper-pagination {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;
		margin-top: 1rem;

		@include media-breakpoint-down(md) {
			margin: 2rem 0;
		}

		.swiper-pagination-bullet {
			position: relative;
			display: inline-block;
			flex: 0 0 11px;
			height: 11px;
			background-color: rgba(purple, 0.3);
			border-radius: 50%;
			transition: background-color 0.3s ease;

			&-active {
				background-color: purple;
			}

			&:hover {
				cursor: pointer;
				background-color: rgba(purple, 0.6);
			}

			&::after {
				
				content: "";
				display: block;
				height: 22px;
				position: relative;
				width: 100%;
				z-index: 2;
				top: -9px;
			}
		}
	}
}

.editor-styles-wrapper {

	.block--double-slider-wrapper {

		.swiper,
		.swiper-pagination {
			display: none;
		}
	}
}