//==============================================================================
// DIMENSIONS
//==============================================================================

// scss-docs-start container-max-widths
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1140px
) !default;
// scss-docs-end container-max-widths


// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 5,
        7: $spacer * 7,
        8: $spacer * 9,
        9: $spacer * 11,
        10: $spacer * 13,
) !default;
// scss-docs-end spacer-variables-maps

// scss-docs-start position-map
$position-values: (
        0: 0,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        n100: -100%,
        n75: -75%,
        n50: -50%,
        n25: -25%,
) !default;
// scss-docs-end position-map