@import '../../../src/scss/bare-bs-necessities'; // required in order to use our other variables, mixins, etc.

.block--testimonial {
	height: auto !important;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);

	&:not(.has-background) {
		background-color: $white;
	}

	.slide {
		height: 100%;

		.slide-image {
			//position: absolute;
			//display: block;
			//inset: 0;
			//height: 100%;
			//width: 100%;
			//object-fit: cover;
			//object-position: center;
		}
	}
}

.editor-styles-wrapper {

	.wp-block-lvl-testimonial {
		margin: 0 2rem 2rem;
		background-clip: content-box;
		border-radius: 10px;
		box-shadow: 0px 5px 14px rgba($black, 0.10);
	}
}