:root {
  //--nav-height: 40px;
  @each $spacer, $value in $spacers {
    --bs-spacer-#{$spacer}: #{$value};
  }
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;

  *:not(#header *) {
    scroll-margin: calc(var(--header-height-offset, 40px) + 40px);
  }
}

body {
  color: var(--bs-body-color);
  overflow-x: hidden;

  &.admin-bar #wpadminbar {
    z-index: 999999;

    &,
    * {
      @include media-breakpoint-up(md) {
        font-size: 11px;
      }

      @include media-breakpoint-up(lg) {
        font-size: 13px;
      }
    }

  }
}

.container-fluid {
  padding: 0 var(--bs-gutter-x, 0);
}

#main {
  position: relative;
  overflow-x: clip;

  min-height: calc(100vh - var(--header-height, 200px) - var(--footer-height, 300px));
}

svg {
  display: block;
  max-width: 100%;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-sm-nowrap {
  @include media-breakpoint-up(sm) {
    white-space: nowrap;
  }
}

.object-fit--contain {

  &.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

}

img:where(.object-fit--cover, .object-fit--cover) {
  display: inline-block;
}


.modal-backdrop {
  --bs-backdrop-bg: var(--bs-indigo);
  --bs-backdrop-opacity: 0.85;
}


.placeholder-img {
  height: 200px;
  background-color: var(-bs-gray-300, #CCCCCC);
}


// slider initial state
.swiper:not(.swiper-initialized) {
  .swiper-wrapper {
    .swiper-slide:nth-child(n+2) {
      display: none;
    }
  }

  height: var(--hero-min-height);
  overflow: hidden;

  .block--banner {
    width: 100%;
  }

  .swiper-button-prev, .swiper-button-next, .swiper-pagination {
    display: none;
  }
}

.swiffy-slider:not(.swiffy-initialized) {
  .slider-container {
    .swiffy-slide:nth-child(n+2) {
      display: none;
    }
  }
}