.block--tab-pane {

}



.editor-styles-wrapper {
  .block--tab-pane {
    .--preview {
      border: 5px solid var(--bs-primary-bg-subtle);
      margin-bottom: 1rem;
    }
  }

  .is-collapsed {
    height: 0;
  }
}