:root {
  --login-logo: url("data:image/svg+xml,%3Csvg fill='none' height='51' viewBox='0 0 233 51' width='233' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cscript xmlns=''/%3E%3CclipPath id='a'%3E%3Cpath d='m0 0h233v51h-233z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)' fill='%230e1832'%3E%3Cg clip-rule='evenodd' fill-rule='evenodd'%3E%3Cpath d='m21.351 24.4873 20.1308-11.0647-20.1308-11.42258-20.13079 11.42258z'/%3E%3Cpath d='m20.1249 26.083-20.1249-11.0627v22.8666l20.1249 11.4187z'/%3E%3Cpath d='m22.5771 26.083v23.2226l20.125-11.4187v-22.8666z'/%3E%3C/g%3E%3Cpath d='m113.261 37.7187v-23.776h15.141v2.777h-12.166v7.3471h9.33v2.4719h-9.33v11.1781h-2.973z'/%3E%3Cpath d='m130.326 15.7145c0-.9661.821-1.7327 1.811-1.7327.989 0 1.811.7666 1.811 1.7327s-.786 1.7991-1.811 1.7991-1.811-.7998-1.811-1.7991zm.389 22.0042v-17.1407h2.883v17.1407z'/%3E%3Cpath d='m148.616 37.7187v-9.9715c0-2.8317-.786-5.0317-3.758-5.0317-2.529 0-4.271 2.1316-4.271 5.6301v9.3712h-2.803v-17.0019h2.803v2.1668c.991-1.5997 2.632-2.599 4.988-2.599 4.273 0 5.879 2.9667 5.879 7.1633v10.2708h-2.836z'/%3E%3Cpath d='m167.76 37.4097c-1.367 0-2.29-.833-2.29-2.2332-1.332 1.7659-3.247 2.6322-5.605 2.6322-2.767 0-5.399-1.4667-5.399-4.932 0-4.0657 3.383-5.9645 7.21-5.9645 1.265 0 2.53.2327 3.758.7001v-1.367c0-2.2978-1.503-3.6315-3.895-3.6315-1.641 0-3.315.9993-4.34 2.466l-2.084-1.5332c1.435-2.0651 3.829-3.2658 6.629-3.2658 3.556 0 6.493 1.7659 6.493 5.9645v8.1959c0 .3324.205.5671.616.5671h.545v2.3995h-1.64zm-2.324-7.3627c-.786-.5007-2.117-.8331-3.416-.8331-2.597 0-4.648 1.2653-4.648 3.3988 0 1.9654 1.367 2.8649 3.144 2.8649 1.913 0 3.759-1.1655 4.92-2.9979z'/%3E%3Cpath d='m183.389 37.7187v-9.9715c0-2.8317-.787-5.0317-3.759-5.0317-2.529 0-4.271 2.1316-4.271 5.6301v9.3712h-2.802v-17.0019h2.802v2.1668c.991-1.5997 2.632-2.599 4.989-2.599 4.273 0 5.878 2.9667 5.878 7.1633v10.2708h-2.835z'/%3E%3Cpath d='m203.115 34.5116c-1.162 1.6329-2.904 3.3323-6.084 3.3323-4.476 0-7.656-3.1661-7.656-8.763s3.178-8.7962 7.656-8.7962c3.178 0 4.922 1.6661 6.117 3.3323l-2.29 1.5997c-.958-1.6329-2.186-2.5325-3.862-2.5325-2.871 0-4.682 2.3662-4.682 6.3967s1.811 6.3967 4.682 6.3967c1.676 0 2.87-.8663 3.964-2.4992l2.153 1.5332z'/%3E%3Cpath d='m225.387 37.4097c-1.367 0-2.29-.833-2.29-2.2332-1.332 1.7659-3.246 2.6322-5.605 2.6322-2.767 0-5.399-1.4667-5.399-4.932 0-4.0657 3.383-5.9645 7.21-5.9645 1.265 0 2.531.2327 3.759.7001v-1.367c0-2.2978-1.504-3.6315-3.896-3.6315-1.641 0-3.315.9993-4.339 2.466l-2.085-1.5332c1.435-2.0651 3.829-3.2658 6.629-3.2658 3.556 0 6.493 1.7659 6.493 5.9645v8.1959c0 .3324.205.5671.616.5671h.546v2.3995h-1.641zm-2.323-7.3627c-.787-.5007-2.118-.8331-3.417-.8331-2.597 0-4.648 1.2653-4.648 3.3988 0 1.9654 1.367 2.8649 3.144 2.8649 1.913 0 3.759-1.1655 4.921-2.9979z'/%3E%3Cpath d='m230.123 37.7187v-23.776h2.877v23.7741h-2.877z'/%3E%3Cpath d='m205.7 15.7145c0-.9661.821-1.7327 1.811-1.7327.989 0 1.811.7666 1.811 1.7327s-.786 1.7991-1.811 1.7991-1.811-.7998-1.811-1.7991zm.387 22.0042v-17.1407h2.883v17.1407z'/%3E%3Cpath d='m50.1802 37.7187v-23.776h7.0264v23.7741h-7.0264z'/%3E%3Cpath d='m74.046 37.5936-4.58-8.1744h-1.9145v8.1744h-7.177v-23.6509h11.7902c6.0486 0 9.4318 2.556 9.4318 7.7715 0 3.6667-1.7092 5.8198-4.8518 6.7624l5.2977 9.117zm-3.213-13.1533c2.597 0 3.5533-1.0091 3.5533-2.6576 0-1.6486-.9563-2.6577-3.5533-2.6577h-3.2815v5.3153z'/%3E%3Cpath d='m101.524 37.5936-1.128-3.7352h-7.8952l-1.1616 3.7352h-7.6561l8.851-23.6489h7.7929l8.851 23.6489h-7.656zm-5.0924-16.7868-2.3585 7.8048h4.7501l-2.3936-7.8048z'/%3E%3C/g%3E%3C/svg%3E");
}


// BOOTSTRAP ESSENTIALS
@import "bare-bs-necessities";
@import '~bootstrap/scss/root';

#login {
  width: 300px;
  padding: 10%;
  background: white;
  max-width: 100%;
  box-shadow: 0 30px 20px -10px rgba(0, 0, 0, .25);

  [href="https://wordpress.org/"] {
    pointer-events: none;
  }
}

body.login {
  background-color: var(--bs-primary);

  #login h1 a {
    display: block;
    width: 80%;
    height: 150px;
    background-image: var(--login-logo);
    background-size: contain;
    background-position: center;
  }

  #nav {
    a {
      &:hover,
      &:focus,
      &:active {
        //
      }
    }
  }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="checkbox"]:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 2px rgba(var(--bs-primary-rgb), 0.8);
  }

  input[type="checkbox"]:checked::before {
    color: var(--bs-primary);
  }

  .button-primary {

    padding: 1px 28px !important;
    background-color: var(--bs-primary) !important;
    border: 0;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: none;
    text-shadow: none;
    height: 32px !important;
    transition: all .15s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      background-color: var(--bs-primary-text-emphasis) !important;
      outline: none;
      transform: none;
    }

  }

  .privacy-policy-link {
    &:hover,
    &:focus,
    &:active {
      //
    }

  }

}